<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gemini LLM</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Chatbot Reply</h1>
            <div class="response-box">
                <p>{{gemini_response}}</p>
            </div>
            <form action="/gemini/" method="post">
                <input type="submit" value="Back to Chatbot">
            </form>
            <form action="/main" method="get">
                <input type="submit" value="Back to Main Page">
            </form>
        </div>
    </body>
</html>
